.git
.gitignore
__pycache__/
*.pyc
.venv/
venv/
run.sh
.env
*.local
barcode_cache.json
spool_barcodes.json
printer_barcodes.json
ofd_index.json
spoolmandb_community_index.json
.DS_Store
.idea/
.vscode/
README.md
